<!DOCTYPE html>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>home</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css"> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel= "stylesheet" href="/css/normalize.css" type="text/css"><!--normalize-->
<link rel="stylesheet" type="text/css" href="/css/producto.css"><!--estaba en !ver-->
<link rel="stylesheet" type="text/css" href="/css/product_responsive.css"><!--estaba en !ver-->
<link rel="stylesheet" href="/css/style-carrito.css"/><!--estaba en el carrito-->
<link rel="stylesheet" href="/css/crearcuenta.css"> <!--estaba en el login.ejs-->
<!--<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">-->
<link rel="stylesheet" href="/css/crear producto.css"> <!--provisorio para crear producto-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">


<link rel="stylesheet" href="/css/bootstrap-grid.min.css"> <!-- RUTA OK no cambiar - De solucion definitiva x listado de productos.ejs-->
