#header{
    background-color: white;
    margin-top: 15px;
}
#fondomain{
    background-color: white;
}

#footer{
    display: block;
    max-width: 100% !important;
    color: #004360
}

#titulo{
    color: #004360;
    text-align: center;
    margin-top: 150px;
}

#form{
    background-color: white;
    /*display: inline-block;*/
	display:grid;
	grid-template-columns: 1fr;
    /*align-content: center;*/
    /*padding: 25px;*/
}

#container{
    display: flex;
    justify-content: space-around;
}


.formulario__grupo-input{
	position:relative;
}

.formulario{
	width: 100%;
	background: #fff;
	border: 2px dotted;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}  

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo{/*se va a mostrar el mensaje cuando cree la validacion con javaScript*/
	display: block;

}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
} 

p{
	opacity: 0;
}


.botoncito{
	background-color: #009cf6;
	color: white;
	width: 150px;
	padding: 7px;
	border-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all
 }
 .boton-container{
	 padding: 20px;
 }
 
 #parrafo2{
	padding: 20px;
	display: flex;
 }
 .botoncito:hover{
	box-shadow: 1px 0px 10px rgb(198, 233, 253);
 }

 h5{
	font-size: 14px;
	color: #28d406f3;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 40px 0 10px;
	display: none;
 }

  .formulario__mensaje-exito-activo{
	 display: block;
 }

 /* ----- -----  Estilos para Validacion ----- ----- */

 .formulario__validacion-estado .fa-check-circle{
	color: #1ed12d;
	opacity: 1;
	/*display: none;*/
 }

 .formulario__validacion-estado .fa-times-circle{
	 color: #bb2929;
	 opacity: 1;
 }

 .formulario-incorrecto .formulario{
	 border: 2px solid #bb2929;
 }
 
.formulario__mensaje{
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	border-radius: 3px;
	position:relative;
	display: none;
}

.fa-exclamation-triangle{
	position: absolute;
	font-size: 20px;
	background-color: #F66060;
	padding: 10px 10px;
	margin: 2px 2px;

}

b{
	font-size: 14px;
	background-color: #F66060;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 0 40px 0 10px; */
	
}
.formulario__mensaje-activo{
	display: block;
}




.item2{
    color:#004360;
    padding: 0px;
}

#container0{
    display: flex;
    margin-top: 45px;
    align-items: center;
    justify-content: space-around;  
}
#logo{
    margin-top: 15px;
}
#fondobody{
    background-color: #145b82;
}

.footer{
	padding-top: 80px;
    background-color: white;
}

.footer_nav
{
	margin-top: 14px;
}
.footer_nav ul li
{
	display: inline-block;
	margin-right: 53px;
}
.footer_nav ul li:last-child
{
	margin-right: 0;
}
.footer_nav ul li a
{
	font-size: 12px;
	text-transform: uppercase;
	color: #232323;
	font-weight: 600;
	letter-spacing: 0.2em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav ul li a:hover
{
	color: #78B6F0;
}
.footer_social
{
	margin-top: 51px;
}
.footer_social ul li
{
	display: inline-block;
	margin-right: 36px;
}
.footer_social ul li:last-child
{
	margin-right: 0;
}
.footer_social ul li a i
{
	font-size: 24px;
	color: #527CA3;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social ul li a i:hover
{
	color: #78B6F0;
}
.copyright
{
	margin-top: 56px;
	padding-bottom: 13px;
	font-family: 'Montserrat', serif;
	font-size: 12px;
	color: #527CA3;
}

.recordarme{
	margin: 5px 5px 5px 15px;
}