#header{
    background-color: white;
    margin-top: 15px;
}
#fondomain{
    background-color: white;
}

#footer{
    display: block;
    max-width: 100% !important;
    color: #004360
}

#titulo{
    color: #004360;
    text-align: center;
    margin-top: 150px;
}

#form{
    background-color: white;
    display: inline-block;
    align-content: center;
    padding: 25px;
}

#container{
    display: flex;
    justify-content: space-around;
}
.botoncito{
   background-color: #009cf6;
   color: white;
   padding: 7px;
   border-color: white;
}

.formulario{
    padding: 10px;
    margin-top: 15px;
    border-style: dotted;
    padding-right: 95px;
}
.item2{
    color:#004360;
    padding: 0px;
}

#container0{
    display: flex;
    margin-top: 45px;
    align-items: center;
    justify-content: space-around;  
}
#logo{
    margin-top: 15px;
}
#fondobody{
    background-color: #145b82;
}